- if local_assigns[:subscription]
  - subscribable = decorated_subscription
  - message = subscription_message
- else
  - subscribable = License.current
  - message = license_message(license: subscribable)

- if message.present?
  .container-fluid.container-limited.pt-3
    .alert.alert-dismissible.gitlab-ee-license-banner.hidden.js-gitlab-ee-license-banner.pb-5.border-width-1px.border-style-solid.border-color-default.border-radius-default{ role: 'alert', data: { license_expiry: subscribable.expires_at } }
      %button.close.p-2{ type: 'button', 'data-dismiss' => 'alert', 'aria-label' => 'Dismiss banner' }
        %span{ 'aria-hidden' => 'true' }
          = sprite_icon('merge-request-close-m', size: 24)
      .d-flex.flex-row
        .pr-4.pl-3.pt-2
          - if subscribable.expired?
            - if subscribable.block_changes?
              = image_tag('illustrations/subscription-downgraded.svg')
            - else
              = image_tag('illustrations/subscription-cancelled.svg')
          - else
            = image_tag('illustrations/subscription-warning.svg')
        .text-left.pt-2
          = message

          - if subscribable.block_changes?
            = link_to 'Upgrade your plan', 'https://customers.gitlab.com/subscriptions/my_renewal', class: 'btn btn-primary'
          - else
            = link_to 'Renew subscription', 'https://customers.gitlab.com/subscriptions/my_renewal', class: 'btn btn-primary'
            = link_to "Thats ok, I don't want to renew", '#', data: { 'dismiss' => 'alert' }, 'aira-label' => 'Dismiss banner', class: 'btn btn-inverted-secondary ml-2'
